// Colores
$primary: #0F3D3E;
$secondary: #087990;
$dark: #17191a;
$light: #fff4d1;

// Ajustes
$offcanvas-horizontal-width: 300px;

$card-border-radius: none;
$card-border-width: none;
$card-bg: $dark;
$card-color: white;

@import "../node_modules/bootstrap/scss/bootstrap";