body{
    padding-top: 70px;
}

.image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel {
    width: 100%;
    max-width: 500px;
}