@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
  
body {
    font-family: "Roboto", sans-serif;
    background-color: #ddd;
    padding-top: 70px;
}
  
h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'Ubuntu', sans-serif;
}
  
/* Navbar */

.logo {
    font-size: 2rem;
    font-weight: 700;
    transition: all 250ms ease;
}

.logo:hover {
    color: #00ccff;
}